<md-expansion-panel>
    <md-expansion-panel-header>
        <md-panel-title>
            Status
        </md-panel-title>
    </md-expansion-panel-header>

    <commit-form></commit-form>

    <md-divider></md-divider>

    <md-list *ngIf="stagedFiles.length > 0">
        <button md-button color="warn" (click)="unstageAll()">Unstage all</button>
        <md-list-item *ngFor="let file of stagedFiles" (click)=statusSelected(file)>
            <md-icon md-list-icon>{{getIconName(file)}}</md-icon>
            <h4 md-line> {{file.path}}</h4>
            <button md-icon-button color="warn" (click)="unStageFile(file)">
                <md-icon aria-label="Example icon-button with a heart icon">remove</md-icon>
            </button>
        </md-list-item>
    </md-list>

    <md-divider *ngIf="unStagedFiles.length > 0 && stagedFiles.length > 0"></md-divider>

    <md-list *ngIf="unStagedFiles.length > 0">
        <button md-button color="accent" (click)="stageAll()">Stage all</button>
        <md-list-item *ngFor="let file of unStagedFiles" (click)=statusSelected(file)>
            <!--<md-icon md-list-icon>{{getIconName(file)}}</md-icon>-->
          <md-icon class="changes-button" md-list-icon (click)="viewChanges(file)" md-tooltip="View changes">pageview</md-icon>
            <h4 md-line> {{file.path}}</h4>
            <button md-icon-button color="accent" (click)="stageFile(file)">
                <md-icon aria-label="Example icon-button with a heart icon">add</md-icon>
            </button>
            <button md-icon-button color="warn" (click)="discardChanges(file)">
                <md-icon aria-label="Example icon-button with a heart icon">undo</md-icon>
            </button>
        </md-list-item>
    </md-list>

</md-expansion-panel>
