/*
./src/styles.css
*/
@import '~@angular/material/prebuilt-themes/purple-green.css';

*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  
  /* body{
     background: #000;
     color: white;
  } */
  
  .ui-autocomplete, .ui-inputtext {
    width: 100%;
    margin: 0;
  }
  
  .ui-inputtext {
    border-radius: 0;
    margin: 0;
    border: none;
    border-bottom: 2px solid rgb(21,96,150);
    outline: none;
    background: rgba(255, 255, 255, 0.8);
  }