#commit-list-container{
    color: white;
    width: 100%;
    padding-top: 40px;
}

#commit-list{
    height: 82vh;
    overflow: auto;
    width: 100%;
}

.show-details-button{
    margin-left: auto;
}

.show-details-button{
    display: none
}

.commit-list-item:hover .show-details-button{
    display: block;
}

.commit-list-item-components{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}