<md-expansion-panel>
    <md-expansion-panel-header>
        <md-panel-title>
            Branches
        </md-panel-title>
    </md-expansion-panel-header>

    <md-list>
        <md-list-item *ngFor="let branch of branchList">
            <md-icon *ngIf="branch.isHead" md-list-icon>label</md-icon>
            <h4 md-line> {{branch.name}}</h4>
            <button md-icon-button *ngIf="!branch.isHead" (click)="checkout(branch.name)">
                    <md-icon class="md-24">favorite</md-icon>
            </button>
        </md-list-item>
    </md-list>

    <md-action-row>
        <button md-button color="primary" (click)="createNew()">Create new</button>
    </md-action-row>

</md-expansion-panel>