<h1 md-dialog-title>
    Remote branch asignment
    <span>{{remoteName}}</span>
</h1>
<form #remoteAssignment="ngForm" (ngSubmit)="onSubmit()">
    <div md-dialog-content>
        <md-form-field>
            <input mdInput tabindex="1" placeholder="branch name" name="branchName" [(ngModel)]="branchName" required>
        </md-form-field>
    </div>
    <div md-dialog-actions>
        <button md-button type="reset" (click)="closeDialog()" tabindex="-1">
            Cancel
        </button>
        <button md-button type="submit" color='primary' tabindex="2" [disabled]="!remoteAssignment.form.valid">
            Assign
        </button>
    </div>
</form>